n8n-workflow.json
{
  "name": "Clinical SOAP Note Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-soap",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "clinical-soap-generator"
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.openaiApiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "temperature",
              "value": 0.2
            },
            {
              "name": "max_tokens",
              "value": 2048
            },
            {
              "name": "response_format",
              "value": "{\"type\": \"json_object\"}"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "You are a medical documentation assistant. Generate a JSON SOAP note from the patient encounter. Output only valid JSON with: subjective, objective, assessment, plan sections."
                },
                {
                  "role": "user",
                  "content": "{{$json.encounter_text}}"
                }
              ]
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "openai-call",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": "openai-api-key"
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.message.content;\nlet soap;\ntry {\n  soap = JSON.parse(data);\n} catch (e) {\n  soap = { error: 'Failed to parse JSON', raw: data };\n}\nreturn [{json: soap}];"
      },
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "respondWith": "json",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "clinical-soap-workflow",
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-26T19:15:00Z",
  "createdAt": "2026-04-26T19:15:00Z"
}